/*
Rainbow-API

The responses of the open api in swagger focus on the data field rather than the code and the message fields

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package rainbowsdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"os"
)


type MintsAPI interface {

	/*
	AppBatchMintByMetaUri Batch Mint NFT with metadata uri

	Batch Mint a NFT by providing tokenIds and metadata urls to create the metadata

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id id
	@return ApiAppBatchMintByMetaUriRequest
	*/
	AppBatchMintByMetaUri(ctx context.Context, id int32) ApiAppBatchMintByMetaUriRequest

	// AppBatchMintByMetaUriExecute executes the request
	//  @return []int32
	AppBatchMintByMetaUriExecute(r ApiAppBatchMintByMetaUriRequest) ([]int32, *http.Response, error)

	/*
	AppBatchMintNFT Batch Mint NFT with metadata parts

	Batch Mint a NFT by providing a file url to create the metadata

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id id
	@return ApiAppBatchMintNFTRequest
	*/
	AppBatchMintNFT(ctx context.Context, id int32) ApiAppBatchMintNFTRequest

	// AppBatchMintNFTExecute executes the request
	//  @return []ModelsMintTask
	AppBatchMintNFTExecute(r ApiAppBatchMintNFTRequest) ([]ModelsMintTask, *http.Response, error)

	/*
	BatchCustomMint Batch Mint NFTs

	Mint several NFTs once

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiBatchCustomMintRequest
	*/
	BatchCustomMint(ctx context.Context) ApiBatchCustomMintRequest

	// BatchCustomMintExecute executes the request
	//  @return []ModelsMintTask
	BatchCustomMintExecute(r ApiBatchCustomMintRequest) ([]ModelsMintTask, *http.Response, error)

	/*
	CustomMint Mint NFT

	Mint a NFT by providing a metadata url

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCustomMintRequest
	*/
	CustomMint(ctx context.Context) ApiCustomMintRequest

	// CustomMintExecute executes the request
	//  @return ModelsMintTask
	CustomMintExecute(r ApiCustomMintRequest) (*ModelsMintTask, *http.Response, error)

	/*
	EasyMintByFile Mint NFT with file

	Mint a NFT by uploading a file which can be a video, image and so on

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiEasyMintByFileRequest
	*/
	EasyMintByFile(ctx context.Context) ApiEasyMintByFileRequest

	// EasyMintByFileExecute executes the request
	//  @return ModelsMintTask
	EasyMintByFileExecute(r ApiEasyMintByFileRequest) (*ModelsMintTask, *http.Response, error)

	/*
	EasyMintByMetadata Mint NFT with metadata

	Mint a NFT by providing a file url to create the metadata

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiEasyMintByMetadataRequest
	*/
	EasyMintByMetadata(ctx context.Context) ApiEasyMintByMetadataRequest

	// EasyMintByMetadataExecute executes the request
	//  @return ModelsMintTask
	EasyMintByMetadataExecute(r ApiEasyMintByMetadataRequest) (*ModelsMintTask, *http.Response, error)

	/*
	GetMintDetail Mint NFT detail

	Get NFT detail info

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id id
	@return ApiGetMintDetailRequest
	*/
	GetMintDetail(ctx context.Context, id int32) ApiGetMintDetailRequest

	// GetMintDetailExecute executes the request
	//  @return ModelsMintTask
	GetMintDetailExecute(r ApiGetMintDetailRequest) (*ModelsMintTask, *http.Response, error)

	/*
	ListMints Obtain NFT list

	Get the NFT list containing the NFTs minted in the specified app
Get the NFT list containing the NFTs minted in the specified app

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListMintsRequest
	*/
	ListMints(ctx context.Context) ApiListMintsRequest

	// ListMintsExecute executes the request
	//  @return ModelsMintTaskQueryResult
	ListMintsExecute(r ApiListMintsRequest) (*ModelsMintTaskQueryResult, *http.Response, error)

	/*
	ListMints_0 Obtain NFT list

	Get the NFT list containing the NFTs minted in the specified app
Get the NFT list containing the NFTs minted in the specified app

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListMints_0Request
	*/
	ListMints_1(ctx context.Context) ApiListMints_0Request

	// ListMints_1Execute executes the request
	//  @return ModelsMintTaskQueryResult
	ListMints_1Execute(r ApiListMints_0Request) (*ModelsMintTaskQueryResult, *http.Response, error)

	/*
	ReMintNFT Reset mint task status to init so that it can be minted again

	Reset mint task status to init so that it can be minted again

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id id
	@return ApiReMintNFTRequest
	*/
	ReMintNFT(ctx context.Context, id int32) ApiReMintNFTRequest

	// ReMintNFTExecute executes the request
	//  @return ModelsMintTask
	ReMintNFTExecute(r ApiReMintNFTRequest) (*ModelsMintTask, *http.Response, error)
}

// MintsAPIService MintsAPI service
type MintsAPIService service

type ApiAppBatchMintByMetaUriRequest struct {
	ctx context.Context
	ApiService MintsAPI
	authorization *string
	id int32
	batchMintRequest *ServicesAppBatchMintByMetaUriDto
}

// Bearer JWT
func (r ApiAppBatchMintByMetaUriRequest) Authorization(authorization string) ApiAppBatchMintByMetaUriRequest {
	r.authorization = &authorization
	return r
}

// batch_mint_request
func (r ApiAppBatchMintByMetaUriRequest) BatchMintRequest(batchMintRequest ServicesAppBatchMintByMetaUriDto) ApiAppBatchMintByMetaUriRequest {
	r.batchMintRequest = &batchMintRequest
	return r
}

func (r ApiAppBatchMintByMetaUriRequest) Execute() ([]int32, *http.Response, error) {
	return r.ApiService.AppBatchMintByMetaUriExecute(r)
}

/*
AppBatchMintByMetaUri Batch Mint NFT with metadata uri

Batch Mint a NFT by providing tokenIds and metadata urls to create the metadata

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id id
 @return ApiAppBatchMintByMetaUriRequest
*/
func (a *MintsAPIService) AppBatchMintByMetaUri(ctx context.Context, id int32) ApiAppBatchMintByMetaUriRequest {
	return ApiAppBatchMintByMetaUriRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return []int32
func (a *MintsAPIService) AppBatchMintByMetaUriExecute(r ApiAppBatchMintByMetaUriRequest) ([]int32, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []int32
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MintsAPIService.AppBatchMintByMetaUri")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dashboard/apps/{id}/nft/batch/by-meta-uri"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}
	if r.batchMintRequest == nil {
		return localVarReturnValue, nil, reportError("batchMintRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	// body params
	localVarPostBody = r.batchMintRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RainbowErrorsRainbowErrorDetailInfo
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v RainbowErrorsRainbowErrorDetailInfo
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAppBatchMintNFTRequest struct {
	ctx context.Context
	ApiService MintsAPI
	authorization *string
	id int32
	appBatchMintMetaInfo *[]ServicesAppMintByMetaPartsDto
}

// Bearer JWT
func (r ApiAppBatchMintNFTRequest) Authorization(authorization string) ApiAppBatchMintNFTRequest {
	r.authorization = &authorization
	return r
}

// mint_meta
func (r ApiAppBatchMintNFTRequest) AppBatchMintMetaInfo(appBatchMintMetaInfo []ServicesAppMintByMetaPartsDto) ApiAppBatchMintNFTRequest {
	r.appBatchMintMetaInfo = &appBatchMintMetaInfo
	return r
}

func (r ApiAppBatchMintNFTRequest) Execute() ([]ModelsMintTask, *http.Response, error) {
	return r.ApiService.AppBatchMintNFTExecute(r)
}

/*
AppBatchMintNFT Batch Mint NFT with metadata parts

Batch Mint a NFT by providing a file url to create the metadata

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id id
 @return ApiAppBatchMintNFTRequest
*/
func (a *MintsAPIService) AppBatchMintNFT(ctx context.Context, id int32) ApiAppBatchMintNFTRequest {
	return ApiAppBatchMintNFTRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return []ModelsMintTask
func (a *MintsAPIService) AppBatchMintNFTExecute(r ApiAppBatchMintNFTRequest) ([]ModelsMintTask, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ModelsMintTask
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MintsAPIService.AppBatchMintNFT")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dashboard/apps/{id}/nft/batch/by-meta-parts"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}
	if r.appBatchMintMetaInfo == nil {
		return localVarReturnValue, nil, reportError("appBatchMintMetaInfo is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	// body params
	localVarPostBody = r.appBatchMintMetaInfo
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RainbowErrorsRainbowErrorDetailInfo
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v RainbowErrorsRainbowErrorDetailInfo
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBatchCustomMintRequest struct {
	ctx context.Context
	ApiService MintsAPI
	authorization *string
	customMintBatchDto *ServicesCustomMintBatchDto
}

// Bearer Open_JWT
func (r ApiBatchCustomMintRequest) Authorization(authorization string) ApiBatchCustomMintRequest {
	r.authorization = &authorization
	return r
}

// custom_mint_batch_dto
func (r ApiBatchCustomMintRequest) CustomMintBatchDto(customMintBatchDto ServicesCustomMintBatchDto) ApiBatchCustomMintRequest {
	r.customMintBatchDto = &customMintBatchDto
	return r
}

func (r ApiBatchCustomMintRequest) Execute() ([]ModelsMintTask, *http.Response, error) {
	return r.ApiService.BatchCustomMintExecute(r)
}

/*
BatchCustomMint Batch Mint NFTs

Mint several NFTs once

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiBatchCustomMintRequest
*/
func (a *MintsAPIService) BatchCustomMint(ctx context.Context) ApiBatchCustomMintRequest {
	return ApiBatchCustomMintRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []ModelsMintTask
func (a *MintsAPIService) BatchCustomMintExecute(r ApiBatchCustomMintRequest) ([]ModelsMintTask, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ModelsMintTask
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MintsAPIService.BatchCustomMint")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mints/customizable/batch"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}
	if r.customMintBatchDto == nil {
		return localVarReturnValue, nil, reportError("customMintBatchDto is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	// body params
	localVarPostBody = r.customMintBatchDto
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RainbowErrorsRainbowErrorDetailInfo
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v RainbowErrorsRainbowErrorDetailInfo
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomMintRequest struct {
	ctx context.Context
	ApiService MintsAPI
	authorization *string
	customMintDto *ServicesCustomMintDto
}

// Bearer Open_JWT
func (r ApiCustomMintRequest) Authorization(authorization string) ApiCustomMintRequest {
	r.authorization = &authorization
	return r
}

// custom_mint_dto
func (r ApiCustomMintRequest) CustomMintDto(customMintDto ServicesCustomMintDto) ApiCustomMintRequest {
	r.customMintDto = &customMintDto
	return r
}

func (r ApiCustomMintRequest) Execute() (*ModelsMintTask, *http.Response, error) {
	return r.ApiService.CustomMintExecute(r)
}

/*
CustomMint Mint NFT

Mint a NFT by providing a metadata url

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCustomMintRequest
*/
func (a *MintsAPIService) CustomMint(ctx context.Context) ApiCustomMintRequest {
	return ApiCustomMintRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ModelsMintTask
func (a *MintsAPIService) CustomMintExecute(r ApiCustomMintRequest) (*ModelsMintTask, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ModelsMintTask
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MintsAPIService.CustomMint")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mints/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}
	if r.customMintDto == nil {
		return localVarReturnValue, nil, reportError("customMintDto is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	// body params
	localVarPostBody = r.customMintDto
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RainbowErrorsRainbowErrorDetailInfo
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v RainbowErrorsRainbowErrorDetailInfo
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEasyMintByFileRequest struct {
	ctx context.Context
	ApiService MintsAPI
	authorization *string
	chain *string
	description *string
	mintToAddress *string
	name *string
	file *os.File
}

// Bearer Open_JWT
func (r ApiEasyMintByFileRequest) Authorization(authorization string) ApiEasyMintByFileRequest {
	r.authorization = &authorization
	return r
}

func (r ApiEasyMintByFileRequest) Chain(chain string) ApiEasyMintByFileRequest {
	r.chain = &chain
	return r
}

func (r ApiEasyMintByFileRequest) Description(description string) ApiEasyMintByFileRequest {
	r.description = &description
	return r
}

func (r ApiEasyMintByFileRequest) MintToAddress(mintToAddress string) ApiEasyMintByFileRequest {
	r.mintToAddress = &mintToAddress
	return r
}

func (r ApiEasyMintByFileRequest) Name(name string) ApiEasyMintByFileRequest {
	r.name = &name
	return r
}

// file
func (r ApiEasyMintByFileRequest) File(file *os.File) ApiEasyMintByFileRequest {
	r.file = file
	return r
}

func (r ApiEasyMintByFileRequest) Execute() (*ModelsMintTask, *http.Response, error) {
	return r.ApiService.EasyMintByFileExecute(r)
}

/*
EasyMintByFile Mint NFT with file

Mint a NFT by uploading a file which can be a video, image and so on

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiEasyMintByFileRequest
*/
func (a *MintsAPIService) EasyMintByFile(ctx context.Context) ApiEasyMintByFileRequest {
	return ApiEasyMintByFileRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ModelsMintTask
func (a *MintsAPIService) EasyMintByFileExecute(r ApiEasyMintByFileRequest) (*ModelsMintTask, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ModelsMintTask
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MintsAPIService.EasyMintByFile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mints/easy/files"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}
	if r.chain == nil {
		return localVarReturnValue, nil, reportError("chain is required and must be specified")
	}
	if r.description == nil {
		return localVarReturnValue, nil, reportError("description is required and must be specified")
	}
	if r.mintToAddress == nil {
		return localVarReturnValue, nil, reportError("mintToAddress is required and must be specified")
	}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}
	if r.file == nil {
		return localVarReturnValue, nil, reportError("file is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	parameterAddToHeaderOrQuery(localVarFormParams, "chain", r.chain, "")
	parameterAddToHeaderOrQuery(localVarFormParams, "description", r.description, "")
	parameterAddToHeaderOrQuery(localVarFormParams, "mint_to_address", r.mintToAddress, "")
	parameterAddToHeaderOrQuery(localVarFormParams, "name", r.name, "")
	var fileLocalVarFormFileName string
	var fileLocalVarFileName     string
	var fileLocalVarFileBytes    []byte

	fileLocalVarFormFileName = "file"
	fileLocalVarFile := r.file

	if fileLocalVarFile != nil {
		fbs, _ := io.ReadAll(fileLocalVarFile)

		fileLocalVarFileBytes = fbs
		fileLocalVarFileName = fileLocalVarFile.Name()
		fileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: fileLocalVarFileBytes, fileName: fileLocalVarFileName, formFileName: fileLocalVarFormFileName})
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RainbowErrorsRainbowErrorDetailInfo
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v RainbowErrorsRainbowErrorDetailInfo
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEasyMintByMetadataRequest struct {
	ctx context.Context
	ApiService MintsAPI
	authorization *string
	easyMintMetaInfo *ServicesEasyMintMetaPartsDto
}

// Bearer Open_JWT
func (r ApiEasyMintByMetadataRequest) Authorization(authorization string) ApiEasyMintByMetadataRequest {
	r.authorization = &authorization
	return r
}

// easy_mint_meta_info
func (r ApiEasyMintByMetadataRequest) EasyMintMetaInfo(easyMintMetaInfo ServicesEasyMintMetaPartsDto) ApiEasyMintByMetadataRequest {
	r.easyMintMetaInfo = &easyMintMetaInfo
	return r
}

func (r ApiEasyMintByMetadataRequest) Execute() (*ModelsMintTask, *http.Response, error) {
	return r.ApiService.EasyMintByMetadataExecute(r)
}

/*
EasyMintByMetadata Mint NFT with metadata

Mint a NFT by providing a file url to create the metadata

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiEasyMintByMetadataRequest
*/
func (a *MintsAPIService) EasyMintByMetadata(ctx context.Context) ApiEasyMintByMetadataRequest {
	return ApiEasyMintByMetadataRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ModelsMintTask
func (a *MintsAPIService) EasyMintByMetadataExecute(r ApiEasyMintByMetadataRequest) (*ModelsMintTask, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ModelsMintTask
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MintsAPIService.EasyMintByMetadata")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mints/easy/urls"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}
	if r.easyMintMetaInfo == nil {
		return localVarReturnValue, nil, reportError("easyMintMetaInfo is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	// body params
	localVarPostBody = r.easyMintMetaInfo
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RainbowErrorsRainbowErrorDetailInfo
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v RainbowErrorsRainbowErrorDetailInfo
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetMintDetailRequest struct {
	ctx context.Context
	ApiService MintsAPI
	authorization *string
	id int32
}

// Bearer Open_JWT
func (r ApiGetMintDetailRequest) Authorization(authorization string) ApiGetMintDetailRequest {
	r.authorization = &authorization
	return r
}

func (r ApiGetMintDetailRequest) Execute() (*ModelsMintTask, *http.Response, error) {
	return r.ApiService.GetMintDetailExecute(r)
}

/*
GetMintDetail Mint NFT detail

Get NFT detail info

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id id
 @return ApiGetMintDetailRequest
*/
func (a *MintsAPIService) GetMintDetail(ctx context.Context, id int32) ApiGetMintDetailRequest {
	return ApiGetMintDetailRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ModelsMintTask
func (a *MintsAPIService) GetMintDetailExecute(r ApiGetMintDetailRequest) (*ModelsMintTask, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ModelsMintTask
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MintsAPIService.GetMintDetail")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mints/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RainbowErrorsRainbowErrorDetailInfo
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v RainbowErrorsRainbowErrorDetailInfo
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListMintsRequest struct {
	ctx context.Context
	ApiService MintsAPI
	authorization *string
	authorization2 *string
	page *int32
	limit *int32
	contract *string
	mintTo *string
	status *int32
	chain *string
	page2 *int32
	limit2 *int32
	contract2 *string
	mintTo2 *string
	status2 *int32
	chain2 *string
}

// Bearer Open_JWT
func (r ApiListMintsRequest) Authorization(authorization string) ApiListMintsRequest {
	r.authorization = &authorization
	return r
}

// Bearer Open_JWT
func (r ApiListMintsRequest) Authorization2(authorization2 string) ApiListMintsRequest {
	r.authorization2 = &authorization2
	return r
}

// page
func (r ApiListMintsRequest) Page(page int32) ApiListMintsRequest {
	r.page = &page
	return r
}

// limit
func (r ApiListMintsRequest) Limit(limit int32) ApiListMintsRequest {
	r.limit = &limit
	return r
}

// contract
func (r ApiListMintsRequest) Contract(contract string) ApiListMintsRequest {
	r.contract = &contract
	return r
}

// mint_to
func (r ApiListMintsRequest) MintTo(mintTo string) ApiListMintsRequest {
	r.mintTo = &mintTo
	return r
}

// status
func (r ApiListMintsRequest) Status(status int32) ApiListMintsRequest {
	r.status = &status
	return r
}

// chain
func (r ApiListMintsRequest) Chain(chain string) ApiListMintsRequest {
	r.chain = &chain
	return r
}

// page
func (r ApiListMintsRequest) Page2(page2 int32) ApiListMintsRequest {
	r.page2 = &page2
	return r
}

// limit
func (r ApiListMintsRequest) Limit2(limit2 int32) ApiListMintsRequest {
	r.limit2 = &limit2
	return r
}

// contract
func (r ApiListMintsRequest) Contract2(contract2 string) ApiListMintsRequest {
	r.contract2 = &contract2
	return r
}

// mint_to
func (r ApiListMintsRequest) MintTo2(mintTo2 string) ApiListMintsRequest {
	r.mintTo2 = &mintTo2
	return r
}

// status
func (r ApiListMintsRequest) Status2(status2 int32) ApiListMintsRequest {
	r.status2 = &status2
	return r
}

// chain
func (r ApiListMintsRequest) Chain2(chain2 string) ApiListMintsRequest {
	r.chain2 = &chain2
	return r
}

func (r ApiListMintsRequest) Execute() (*ModelsMintTaskQueryResult, *http.Response, error) {
	return r.ApiService.ListMintsExecute(r)
}

/*
ListMints Obtain NFT list

Get the NFT list containing the NFTs minted in the specified app
Get the NFT list containing the NFTs minted in the specified app

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListMintsRequest
*/
func (a *MintsAPIService) ListMints(ctx context.Context) ApiListMintsRequest {
	return ApiListMintsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ModelsMintTaskQueryResult
func (a *MintsAPIService) ListMintsExecute(r ApiListMintsRequest) (*ModelsMintTaskQueryResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ModelsMintTaskQueryResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MintsAPIService.ListMints")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mints/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}
	if r.authorization2 == nil {
		return localVarReturnValue, nil, reportError("authorization2 is required and must be specified")
	}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.contract != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "contract", r.contract, "")
	}
	if r.mintTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mint_to", r.mintTo, "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "")
	}
	if r.chain != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "chain", r.chain, "")
	}
	if r.page2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page2, "")
	}
	if r.limit2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit2, "")
	}
	if r.contract2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "contract", r.contract2, "")
	}
	if r.mintTo2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mint_to", r.mintTo2, "")
	}
	if r.status2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status2, "")
	}
	if r.chain2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "chain", r.chain2, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization2, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v RainbowErrorsRainbowErrorDetailInfo
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListMints_0Request struct {
	ctx context.Context
	ApiService MintsAPI
	authorization *string
	authorization2 *string
	page *int32
	limit *int32
	contract *string
	mintTo *string
	status *int32
	chain *string
	page2 *int32
	limit2 *int32
	contract2 *string
	mintTo2 *string
	status2 *int32
	chain2 *string
}

// Bearer Open_JWT
func (r ApiListMints_0Request) Authorization(authorization string) ApiListMints_0Request {
	r.authorization = &authorization
	return r
}

// Bearer Open_JWT
func (r ApiListMints_0Request) Authorization2(authorization2 string) ApiListMints_0Request {
	r.authorization2 = &authorization2
	return r
}

// page
func (r ApiListMints_0Request) Page(page int32) ApiListMints_0Request {
	r.page = &page
	return r
}

// limit
func (r ApiListMints_0Request) Limit(limit int32) ApiListMints_0Request {
	r.limit = &limit
	return r
}

// contract
func (r ApiListMints_0Request) Contract(contract string) ApiListMints_0Request {
	r.contract = &contract
	return r
}

// mint_to
func (r ApiListMints_0Request) MintTo(mintTo string) ApiListMints_0Request {
	r.mintTo = &mintTo
	return r
}

// status
func (r ApiListMints_0Request) Status(status int32) ApiListMints_0Request {
	r.status = &status
	return r
}

// chain
func (r ApiListMints_0Request) Chain(chain string) ApiListMints_0Request {
	r.chain = &chain
	return r
}

// page
func (r ApiListMints_0Request) Page2(page2 int32) ApiListMints_0Request {
	r.page2 = &page2
	return r
}

// limit
func (r ApiListMints_0Request) Limit2(limit2 int32) ApiListMints_0Request {
	r.limit2 = &limit2
	return r
}

// contract
func (r ApiListMints_0Request) Contract2(contract2 string) ApiListMints_0Request {
	r.contract2 = &contract2
	return r
}

// mint_to
func (r ApiListMints_0Request) MintTo2(mintTo2 string) ApiListMints_0Request {
	r.mintTo2 = &mintTo2
	return r
}

// status
func (r ApiListMints_0Request) Status2(status2 int32) ApiListMints_0Request {
	r.status2 = &status2
	return r
}

// chain
func (r ApiListMints_0Request) Chain2(chain2 string) ApiListMints_0Request {
	r.chain2 = &chain2
	return r
}

func (r ApiListMints_0Request) Execute() (*ModelsMintTaskQueryResult, *http.Response, error) {
	return r.ApiService.ListMints_1Execute(r)
}

/*
ListMints_0 Obtain NFT list

Get the NFT list containing the NFTs minted in the specified app
Get the NFT list containing the NFTs minted in the specified app

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListMints_0Request
*/
func (a *MintsAPIService) ListMints_1(ctx context.Context) ApiListMints_0Request {
	return ApiListMints_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ModelsMintTaskQueryResult
func (a *MintsAPIService) ListMints_1Execute(r ApiListMints_0Request) (*ModelsMintTaskQueryResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ModelsMintTaskQueryResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MintsAPIService.ListMints_1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mints/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}
	if r.authorization2 == nil {
		return localVarReturnValue, nil, reportError("authorization2 is required and must be specified")
	}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.contract != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "contract", r.contract, "")
	}
	if r.mintTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mint_to", r.mintTo, "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "")
	}
	if r.chain != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "chain", r.chain, "")
	}
	if r.page2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page2, "")
	}
	if r.limit2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit2, "")
	}
	if r.contract2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "contract", r.contract2, "")
	}
	if r.mintTo2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mint_to", r.mintTo2, "")
	}
	if r.status2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status2, "")
	}
	if r.chain2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "chain", r.chain2, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization2, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v RainbowErrorsRainbowErrorDetailInfo
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiReMintNFTRequest struct {
	ctx context.Context
	ApiService MintsAPI
	authorization *string
	id int32
}

// Bearer Open_JWT
func (r ApiReMintNFTRequest) Authorization(authorization string) ApiReMintNFTRequest {
	r.authorization = &authorization
	return r
}

func (r ApiReMintNFTRequest) Execute() (*ModelsMintTask, *http.Response, error) {
	return r.ApiService.ReMintNFTExecute(r)
}

/*
ReMintNFT Reset mint task status to init so that it can be minted again

Reset mint task status to init so that it can be minted again

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id id
 @return ApiReMintNFTRequest
*/
func (a *MintsAPIService) ReMintNFT(ctx context.Context, id int32) ApiReMintNFTRequest {
	return ApiReMintNFTRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ModelsMintTask
func (a *MintsAPIService) ReMintNFTExecute(r ApiReMintNFTRequest) (*ModelsMintTask, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ModelsMintTask
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MintsAPIService.ReMintNFT")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/mints/{id}/reMint"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v RainbowErrorsRainbowErrorDetailInfo
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v RainbowErrorsRainbowErrorDetailInfo
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
